mixin number
  .number
    .column.one
      .line
      .line
    .column.two
      .line
      .line
      .line
    .column.three
      .line
      .line

mixin colon
  .colon
    .dot
    .dot

+number
+number
+colon
+number
+number

script(src='bundle.js')
