mixin number
  .number
    .column.one
      .line
      .line
    .column.two
      .line
      .line
      .line
    .column.three
      .line
      .line

+number
+number
+number
+number

script(src='bundle.js')
