$inactive-color: rgb(29, 29, 29);
$active-color: white;

body {
  display: flex;
  justify-content: center;
}

#clock {
  display: flex;
}

body {
  background: black;
}

.number {
  display: flex;
  justify-content: center;
  margin-left: 3px;
  margin-right: 3px;
}

.line {
  width: 16px;
  height: 104px;
  margin-top: 3px;
  border-radius: 3px;
  background: $inactive-color;
  transition: background 0.1s;
}

.active.line {
  background: $active-color;
}

.column.two .line {
  width: 104px;
  height: 16px;
}

.column {
  display: flex;
  margin-left: 3px;
  flex-direction: column;
  justify-content: space-between;
}

.column.two {
  width: 104px;
}